<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quick Dosage Reference</title>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style1.css">
</head>


<body>
    <header class="category__header">
        <div class="category__header__logo-box">
                <img src="/img/logo.png" alt="Logo" class="category__header__logo">
        </div>
        <div class="category__header__text-box">
            <h1 class="category__heading-primary">
                <span class="category__heading-primary--main">quick dosage</span>
                <span class="category__heading-primary--sub">reference</span>
            </h1>
\        </div>
    </header>
