    <footer class="footer">
      <div class="row row--footer">
        <div class="col-1-of-3 col-1-of-3--footer">
          <div id="systemic" class="footer__text-box">
            Systemic
          </div>
        </div>
        <div class="col-1-of-3 col-1-of-3--footer">
          <div id="emergency" class="footer__text-box">
            EMERGENCY
          </div>
        </div>
        <div class="col-1-of-3 col-1-of-3--footer">
          <div id="category" class="footer__text-box">
            Category
          </div>
        </div>
      </div>
    </footer>
    <script src="script.js" type="text/javascript">
    </script>
  </body>

</html>
