    <footer class="footer">
      <div class="row row--footer">
        <div class="col-1-of-2 col-1-of-2--footer footer--background">
          <div id="systemic" class="footer__text-box">
            <h2 class="footer--text">Systemic</h2>
          </div>
        </div>
        <div class="col-1-of-2 col-1-of-2--footer footer--background">
          <div id="emergency" class="footer__text-box">
            <h2 class="footer--text">EMERGENCY</h2>
          </div>
        </div>
      </div>
      <!-- <div id="suggestions" class="suggestions">
        app in testing.... <br>
         Have suggestions or find an error
      </div> -->
    </footer>


    <script src="script.js" type="text/javascript">
    </script>
  </body>

</html>
