<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quick Dosage Reference</title>
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
  <div class="header__accent-bar"></div>
  <header class="header__container">
    <div class="row">
      <div class="col-1-of-3">
        <div class="header__text header__text--primary">
          QUICK<br>DOSAGE<br>
         <span class="header__text--secondary">REFERENCE</span>
        </div>
      </div>

      <div class="col-1-of-3">
        <img src="img/logo.png" alt="" class="header__logo">
      </div>

      <div class="col-1-of-3">
        <div class="header__disclamer">
          <span class="header__disclamer--asterisk">*</span>DISCLOSURE
          <p class="header__disclamer--secondary">
            This app is intended for quick reference only.  Please refer to official documentation before dosing.
          </p>
        </div>
      </div>
    </div>
  </header>
