<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Veterinary Dosage Reference and Calculator</title>
    <meta name="description" content="Quickly reference and calculate Veterinary dosages for companion animals (dogs and cats).">
    <meta property="og:title" content="Veterinary Dosage Reference and Calculator">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://dosage.vet">
    <meta property="og:image" content="http://dosage.vet/img/og.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:alt" content="Veterinary Medicine Calculator">
    <meta property="og:description" content="Quickly reference and calculate Veterinary dosages for companion animals (dogs and cats).">

    <link href="http://dosage.vet" rel="canonical">
    <link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style1.css">
</head>
<body>
  <div class="header__accent-bar"></div>
  <header class="header__container">
    <div id="header-container" class="row">
      <div class="col-1-of-3">
        <div class="header__text">
          <h1 class="header__text--primary">VETERINARY<br>DOSAGE<br></h1>
         <span class="header__text--secondary">CALCULATOR</span>
        </div>
      </div>

      <div class="col-1-of-3">
        <img src="img/logo.png" alt="" class="header__logo">
      </div>

      <div class="col-1-of-3">
        <div class="header__disclamer">
          <span class="header__disclamer--asterisk">*</span>DISCLOSURE
          <p class="header__disclamer--secondary">
            This app is intended for quick reference only.  Please refer to official documentation before dosing.
          </p>
        </div>
      </div>
    </div>
  </header>
