<%- include("partials/header") -%>

<section class="section__drug-list">
  <div class="category__heading">
    <div class="category__heading--title">
      <h1>Systemic</h1>
    </div>
  </div>
  <div class="category__body">
    <ul id="categoryUl">
      <form id="categoryForm" action="/category-select" method="post">
        <% data.forEach(function(selected){ %>
        <li><input class="category__input" type="submit" name="selected" value="<%= selected %>"></input></li>
        <% }); %>
      </ul>

      <input id="page_id" type="hidden" name="page_id" value=<%=page_id%>>


      </form>
  </div>
</section>

<script src="script.js" type="text/javascript"></script>
