<link rel="stylesheet" href="/css/styles.css">

<form id="categoryForm" action="<%= passURL %>" method="POST" target="<%= target %>"  onsubmit="doSubmit();">


    <% data.categories.forEach(function(category){ %>
    <input type="submit" class="custom-select" name="category" value="<%= category %>"></input>
    <% }); %>
    <input type="hidden" id="subWeight" name="weight" value="">
    <input type="hidden" id="subPostUnits" name="units" value="">

</form>

<script src="/jquery/jquery.js"></script>
<script src="script.js" charset="utf-8"></script>
