<%- include("partials/header") -%>
<section class="section__drug-list">
  <div class="drug__box">
    <div class="row row__drug">
      <div class="col-1-of-3__drug col-1-of-3__drug--one">
        <span class="drug__box--primary">Cefaloceptin</span><br>
        <span class="drug__box--secondary">- used for infections <br>
        - 10-20 mg/kg in hogs</span>
      </div>
      <div class="col-1-of-3__drug col-1-of-3__drug--two">
        <div class="text-box">
          11mg/kg
        </div>
      </div>
      <div class="col-1-of-3__drug col-1-of-3__drug--two">
        <div class="text-box">
          <span class="drug__box--bold">30</span>
          <div class="text-box--up">
            <span class="drug__box--secondary">mg/10kg</span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="drug__box">
    <div class="row row__drug">
      <div class="col-1-of-3__drug col-1-of-3__drug--one">
        <span class="drug__box--primary">Clavamox</span><br>
        <span class="drug__box--secondary">- used for infections
          - 10-20 mg/kg in hogs</span>
        <span class="drug__box--secondary">- used for infections <br>
        - 10-20 mg/kg in hogs</span>
      </div>
      <div class="col-1-of-3__drug col-1-of-3__drug--two">
        <div class="text-box">
          11mg/kg
        </div>
      </div>
      <div class="col-1-of-3__drug col-1-of-3__drug--two">
        <div class="text-box">
          <span class="drug__box--bold">23</span>
          <div class="text-box--up">
            <span class="drug__box--secondary">mg/10kg</span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="drug__box">
    <div class="row row__drug">
      <div class="col-1-of-3__drug col-1-of-3__drug--one">
        <span class="drug__box--primary">Cefaloceptin</span><br>
        <span class="drug__box--secondary">- used for infections <br>
        - 10-20 mg/kg in hogs</span>
      </div>
      <div class="col-1-of-3__drug col-1-of-3__drug--two">
        <div class="text-box">
          11mg/kg
        </div>
      </div>
      <div class="col-1-of-3__drug col-1-of-3__drug--two">
        <div class="text-box">
          <span class="drug__box--bold">30</span>
          <div class="text-box--up">
            <span class="drug__box--secondary">mg/10kg</span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="drug__box">
    <div class="row row__drug">
      <div class="col-1-of-3__drug col-1-of-3__drug--one">
        <span class="drug__box--primary">Cefaloceptin</span><br>
        <span class="drug__box--secondary">- used for infections <br>
        - 10-20 mg/kg in hogs</span>
      </div>
      <div class="col-1-of-3__drug col-1-of-3__drug--two">
        <div class="text-box">
          11mg/kg
        </div>
      </div>
      <div class="col-1-of-3__drug col-1-of-3__drug--two">
        <div class="text-box">
          <span class="drug__box--bold">30</span>
          <div class="text-box--up">
            <span class="drug__box--secondary">mg/10kg</span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="drug__box">
    <div class="row row__drug">
      <div class="col-1-of-3__drug col-1-of-3__drug--one">
        <span class="drug__box--primary">Clavamox</span><br>
        <span class="drug__box--secondary">- used for infections
          - 10-20 mg/kg in hogs</span>
        <span class="drug__box--secondary">- used for infections <br>
        - 10-20 mg/kg in hogs</span>
      </div>
      <div class="col-1-of-3__drug col-1-of-3__drug--two">
        <div class="text-box">
          11mg/kg
        </div>
      </div>
      <div class="col-1-of-3__drug col-1-of-3__drug--two">
        <div class="text-box">
          <span class="drug__box--bold">23</span>
          <div class="text-box--up">
            <span class="drug__box--secondary">mg/10kg</span>
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="drug__box">
    <div class="row row__drug">
      <div class="col-1-of-3__drug col-1-of-3__drug--one">
        <span class="drug__box--primary">Cefaloceptin</span><br>
        <span class="drug__box--secondary">- used for infections <br>
        - 10-20 mg/kg in hogs</span>
      </div>
      <div class="col-1-of-3__drug col-1-of-3__drug--two">
        <div class="text-box">
          11mg/kg
        </div>
      </div>
      <div class="col-1-of-3__drug col-1-of-3__drug--two">
        <div class="text-box">
          <span class="drug__box--bold">30</span>
          <div class="text-box--up">
            <span class="drug__box--secondary">mg/10kg</span>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
