<%- include("partials/header") -%>

<div>
  <h1>Companion</h1>

  <form action="/" method="post">

    <button class="btn animals" name="Animal" value="Dog"><i class="fas fa-dog fa-7x"></i></button>
    <button class="btn animals" name="Animal" value="Cat"><i class="fas fa-cat fa-5x"></i></button>

  </form>
</div>
</div>
<%- include("partials/footer") -%>
