<%- include("partials/header") -%>
<div class="user-input">
  <label class="radio radio--kgs">Kgs
    <input class="checkbox--kgs" type="checkbox" name="kgs" checked="checked">
    <span class="checkmark checkmark--kgs"></span>
  </label>
  <input class="user-input__weight" type="number" name="weight">
  <label class="radio radio--lbs">Lbs
    <input class="checkbox--lbs" type="checkbox" name="lbs" >
    <span class="checkmark"></span>
  </label>
</div>

<div class="card__box">
  <div id="animal" class="card">
    <div class="card__side card__side--front">

      <img  class="card__side--front--image" src="/img/hudson.png" alt="dog">

    </div>
    <div class="card__side card__side--back">
      <img  class="card__side--back--image" src="/img/sammy.png" alt="cat">
    </div>
  </div>
</div>
<form id="form-data" action="/category-select" method="post">
  <input type="hidden" id="pet" name="animal" value="dog">
  <input type="hidden" id="units" name="units" value="kgs">
  <input type="hidden" id="weight" name="weight" value="">
  <input type="hidden" id="category-selected" name="selected" value="">
  <input type="hidden" name="tier" value=0>
</form>



<%- include("partials/footer") -%>
