<%- include("partials/header") -%>

<section class="section-animals">
    <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                    Choose your companion animal
            </h2>
    </div>
    <div class="row">
        <div class="col-1-of-2">
            <div class="animal-box">
                <div class="animals-dog u-center-text">
                        <a href="/companion/Dog" class="btn_animals btn_animals-dog  fas fa-dog fa-8x"></a>
                </div>
            </div>
            
        </div>

        <div class="col-1-of-2">
            <div class="animal-box">
                <div class="animals-cat u-center-text">
                        <a href="/companion/Cat" class="btn_animals btn_animals-cat fas fa-cat fa-8x"></a>
                </div>
            </div>
            
        </div>

    </div>
</section>


<%- include("partials/footer") -%>