/*
0 - 600px       Phone
600 - 900px     Tablet portrait
900 - 1200px    Tablet landscape
[1200 - 1800]   Normal desktop range
1800 +          Big desktop

$breakpoint arguments:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

RESPONSIVE REFRACTOR ORDER IS > base > typography > genral layout > grid > page layout > components

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (min-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 37.5em) {
    html {
      font-size: 30%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

body {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #757575; }

input {
  font-family: "Arimo", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #757575;
  font-size: 1.5rem; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 3.5rem;
    font-weight: bold;
    letter-spacing: 2rem;
    animation: moveInLeft 1s ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2.75rem;
    font-weight: 700;
    letter-spacing: 1.25rem;
    animation: moveInRight 1s ease-out; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 200;
  display: inline-block;
  background-image: linear-gradient(to right, #FFCDD2, #D32F2F);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px; }

.drug__box--primary {
  font-size: 2rem;
  font-weight: bold;
  color: #757575; }

.drug__box--secondary {
  font-size: 1rem;
  font-weight: 200; }

.drug__box--tertiary {
  font-size: 1.5rem; }

.drug__box--bold {
  font-size: 2.5rem;
  font-weight: bold;
  position: relative;
  bottom: 1.9rem; }

.drug__box--avg {
  position: relative;
  top: 1.9rem; }

.drug__box--weight {
  position: relative;
  bottom: 1.9rem; }

.drug__box--dosage {
  position: relative;
  top: .93rem; }

.u-center-text {
  text-align: center; }

.text-bold {
  font-weight: 800; }

.u-indent-text {
  position: relative;
  left: .5rem; }

.u-margin-bottom-small {
  margin-bottom: 1.25rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

@media (max-width: 600px) {
  .btn {
    visibility: hidden; } }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.25rem;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(33, 33, 33, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(33, 33, 33, 0.2); }

.btn--white {
  background-color: #fff;
  color: #D32F2F; }
  .btn--white::after {
    background-color: #fff; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #F44336;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #F44336;
  padding: 3px;
  transform: all .2s; }

.btn-text:hover {
  background-color: #F44336;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(33, 33, 33, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(33, 33, 33, 0.15);
  transform: translateY(0); }

.btn_animals {
  display: inline-block;
  background-image: linear-gradient(to right bottom, #FFCDD2, #D32F2F);
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.animal-box {
  height: 30rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 2.5rem;
  padding: 2.5rem;
  border-radius: 3px;
  box-shadow: 0 1rem 2rem rgba(33, 33, 33, 0.2);
  position: relative; }
  .animal-box:active {
    transform: translateY(0.3rem);
    box-shadow: 0 0.5rem 1rem rgba(33, 33, 33, 0.2); }
  .animal-box--pg2 {
    height: 20rem; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 60vh; }
  .card__box {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 15rem; }
  .card__side {
    height: 60vh;
    color: #fff;
    font-size: 2rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(33, 33, 33, 0.15); }
    .card__side--front--image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 80%; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back--image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 60%; }
  .card__rotate {
    transform: rotateY(180deg); }
  .card__rotate--back {
    transform: rotateY(0); }

/* Customize the label (the &) */
.radio {
  display: inline-block;
  position: relative;
  padding-left: 5rem;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* Hide the browser's default radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */ }
  .radio--kgs {
    padding-left: 0; }
  .radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .radio:hover input ~ .checkmark {
    background-color: #ccc; }
  .radio input:checked ~ .checkmark {
    background-color: #8BC34A; }
  .radio input:checked ~ .checkmark:after {
    display: block; }
  .radio .checkmark:after {
    top: 7px;
    left: 7px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: white; }

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: .6rem;
  left: 1rem;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  /* Create the indicator (the dot/circle - hidden when not checked) */ }
  .checkmark--kgs {
    left: 4.5rem; }
  .checkmark:after {
    content: "";
    position: absolute;
    display: none; }

.header__container {
  height: 16vh;
  background-color: #F44336;
  position: relative;
  margin-bottom: 1rem; }

.header__text {
  margin-left: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; }
  .header__text--primary {
    text-align: center;
    font-size: 2rem;
    line-height: 2.25rem;
    letter-spacing: .75rem; }
  .header__text--secondary {
    font-size: 1rem; }

.header__disclamer {
  width: 100%;
  line-height: 1.15rem;
  color: #8BC34A;
  position: absolute;
  top: 40%;
  left: 38%;
  transform: translate(-50%, -50%); }
  .header__disclamer--asterisk {
    position: relative;
    top: 1.1rem;
    right: .25rem;
    font-size: 3rem; }
  .header__disclamer--secondary {
    text-align: justify;
    font-size: .75rem; }

.header__logo {
  height: 9rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header__accent-bar {
  height: 3vh;
  background-color: #D32F2F; }

.category__header {
  height: 50vh;
  background-image: linear-gradient(to right bottom, rgba(255, 205, 210, 0.5), rgba(211, 47, 47, 0.7)), url(../img/hero-category-large.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  -webkit-clip-path: ellipse(70% 60% at 50% 38%); }

.category__logo-box {
  position: absolute;
  top: 6rem;
  right: 6rem; }

.category__logo {
  height: 10rem; }

.footer {
  width: 100%;
  height: 50px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #F44336;
  position: absolute;
  bottom: 0;
  left: 0; }
  .footer__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.row {
  height: 100%;
  max-width: 95%;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 0rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 0.5rem; }
  .row__drug [class^="col-"]:not(:last-child) {
    margin-right: 0; }
  .row__top {
    border-bottom: 1px solid black; }
  .row .col-1-of-3__drug--one {
    width: 60%; }
  .row .col-1-of-3__drug--two {
    width: 20%; }
  .row--footer {
    max-width: 100%; }
  .row .col-1-of-2 {
    width: calc((100% - 0.5rem) / 2); }
  .row .col-1-of-3 {
    position: relative;
    height: 100%;
    width: calc((100% - 2 * 0.5rem) / 3); }
    .row .col-1-of-3--footer {
      margin-right: 0 !important;
      border-color: #BDBDBD;
      border-style: solid;
      border-width: 1px;
      border-top-width: 2px;
      border-bottom-width: 2px;
      width: calc((100%  / 3)); }
  .row .col-2-of-3 {
    width: calc((2 * (100% - 2 * 0.5rem) / 3) + 0.5rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 0.5rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 0.5rem) / 4) + 0.5rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 0.5rem) / 4) + (2 * 0.5rem)); }

.section__data {
  padding: 3rem; }
  .section__data__icon {
    text-decoration: none;
    color: #D32F2F; }

.section__icon-box {
  width: 65%;
  height: 35vh; }

.user-input {
  background-color: #fff;
  padding-top: 3rem;
  text-align: center;
  width: 100%; }
  .user-input__weight {
    font-size: 2rem;
    margin-left: 4.5rem;
    width: 5rem;
    color: #8BC34A;
    border: solid;
    border-width: 3px;
    border-radius: 5px;
    -webkit-appearance: none; }

.section-main {
  background-color: #BDBDBD;
  padding: 21rem 0 25rem 0;
  margin-top: -17vh;
  margin-bottom: -35vh; }

a:link, a:visited {
  color: #757575;
  text-decoration: none; }

.category__heading {
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase; }
  .category__heading--title {
    padding: 1rem;
    font-size: 2rem;
    color: #757575; }

.category__body {
  font-size: 1.5rem;
  padding: 0 8rem; }

.category__input {
  border: 0;
  background-color: transparent; }

.section__drug-list {
  height: 100vh;
  background-color: #f7f7f7; }

.drug__box {
  margin: 0 .25rem;
  background-color: #fff;
  border-style: solid;
  border-width: 2px;
  border-color: #757575;
  box-shadow: 0 2rem 3rem rgba(33, 33, 33, 0.15);
  border-radius: 5px; }
  .drug__box:not(:first-child) {
    margin-top: 1rem; }

.col-1-of-3__drug {
  box-shadow: none;
  background-color: #fff;
  position: relative;
  min-height: 7rem; }
  .col-1-of-3__drug--one-top {
    padding-bottom: 1rem; }
  .col-1-of-3__drug--one-bottom {
    padding-top: 1rem; }
  .col-1-of-3__drug--two {
    text-align: center; }

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .text-box--up {
    margin-top: -1rem; }
