.main {
  text-align: center;
}

.animals {
  vertical-align: bottom;
  margin: 15px;
}

.dropdown {
  margin-bottom: 15px;
}

.list-group{
      display:inline-block;
 }

 .fas {
   background: none;
   border: 0px;
 }

 .top-left {
   float: left;
 }
