
h1 {
  font-size: 2.5rem;
}

/* Header */

.header-container {
  /* position: relative;
  top: 0; */
  width: 100%;
  height: 100px;
  text-align: center;
  color: #87a8d0;
  background-color: #deecfc;
}

h1.home {
  color: #364e68;
  font-weight: 600;
  padding-top: 25px;
}


/* Home Page */

.home-container {
  display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.container-for-animals {
  display: table-cell;
  vertical-align: middle;
}

.animal-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}
/* Animals */

.animals {
  background: transparent;
  border: none;
  color: #87a8d0;
  margin: 20px;
}

.animals-pg2 {
  margin: 0;
  padding:0;
}

.animal-pg3 {
  margin: 0;
  background: transparent;
  border: none;
  color: #87a8d0;
}

/* Footer */

.footer-container {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: #87a8d0;
  background-color: #deecfc;
}

h1.home-footer {
  color: #364e68;
  font-size: 2rem;
  padding-top: 15px;
}


p.home-footer {
  position: relative;
  bottom: 25px;
  font-size: 1.66rem;
  font-weight: 400;
}

.i {
  font-size: 2.75rem;
  font-weight: 400;
  color: #87a8d0;
}

/* Category Page */

.nav {
  margin-top: 20px
}

.form-container {
  text-align: center;
}

.iframe-div {
  position: relative;
  height: 300px;
}

.iframe-container {
  height: 100%;
  width: 100%;

}


.custom-select{
  width: 100%;
  font-size: 2rem;
  text-align: center;
  border: none;
  background: transparent;
}

p.weightText {
  position: relative;
  left: 180px;
  bottom: 20px;
}
/* Button Styling */

.wInput {
  position: relative;
  left: 11px;
}

input.inputBtn {
  width: 8rem;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.drug-title {
  text-align: center;
}

.drug-container {
  margin-top: 200px;
}

@media (device-width: 500px) {
  h1.home {
    font-size: 4rem;
    padding-top: 55px;
  }

  .header-container {
    height: 200px;
  }

  /* Animals */

  .animals {
    margin: 120px;

  }


  h1.home-footer {
    font-size: 4rem;
    padding-top: 25px;
  }
  .i {
    font-size: 5.55rem;
    font-weight: 400;
  }

  p.home-footer {
    bottom: 55px;
    font-size: 3.22rem;
  }

  .footer-container {
    height: 200px;
  }

  /* Category Page */

  .form-container {
    margin-top: 150px;
  }

  /* Large Input Button */
  .inputBtn {
    margin: 15px;
    font-size: 3rem;
  }

  .custom-select {
    font-size: 3rem;
  }

  /* drug page */

  p.weightText {
    left: 200px;
    bottom: 25px;
  }

}
