.section-main {
    background-color: $color-grey-light-1;
    padding: 23rem 0 25rem 0;
    margin-top: -30vh;
    margin-bottom: -32vh;
    @include respond(tab-land) {
        margin-bottom: -24rem;
    }
    @include respond(tab-port) {
        margin-bottom: -20rem;
    }
}